html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  height: 300px;
  width: 300px;
}

.swatch li {
  display: inline-block;
    vertical-align: top;
}

.swatch li span {
  display: inline-block;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    position: relative;
}
